body {
	background: #888888;
	color: #333333;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

h1 {
	font-size: 21px;
	margin: 50px 0;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}